* {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
}

body {
  background-color: rgb(212, 214, 216);
}

header {
  background-color: rgb(213, 222, 232);
}

footer {
  background-color: aliceblue;
}

.body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 1 fr;
  grid-template-areas: "encabezado" "principal" "pie_de_pagina";
}

.header {
  grid-area: encabezado;
}

.main {
  grid-area: principal;
  justify-content: center;
  align-content: center;
}

.footer {
  grid-area: pie_de_pagina;
}

h1 {
  color: rgb(47, 47, 99);
  font-weight: bolder;
  font-size: 200%;
  text-align: center;
  padding: 1rem;
}

/*medida queries titulos*/
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 3rem;
    padding: 1rem;
  }
}
.img_logo {
  width: 10rem;
  height: 10rem;
}

header {
  display: flex;
  flex-direction: column;
}

/*acomadar en espacio barra*/
.contenedor_logo {
  display: flex;
  justify-content: center;
}

.barra_de_navegacion {
  list-style-type: none;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.barra_de_navegacion a {
  text-decoration: none;
  padding: 1rem;
  margin: 1 rem;
  background-color: rgb(87, 87, 150);
  border-radius: 50%;
  color: aliceblue;
}

.barra_de_navegacion a:hover {
  background-color: rgb(50, 50, 86);
}

/*medida queries barra de navegacion--desktop-- */
@media screen and (min-width: 1200px) {
  header {
    flex-direction: row;
  }
  .contenedor_logo {
    width: 20%;
    justify-content: center;
  }
  nav {
    width: 80%;
    justify-content: flex-end;
  }
  nav .barra_de_navegacion {
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
    align-items: spa;
  }
}
footer {
  text-align: center;
  color: #454b6b;
  padding: 1rem;
}

/*medida querie footer*/
@media screen and (min-width: 1200px) {
  footer {
    font-size: 25px;
  }
}
.img_index {
  width: 100%;
  height: 100%;
}

.contenedor_destaca {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(175, 181, 199);
  width: 90 vh;
  height: auto;
  margin: 7px;
  border-radius: 10%;
}

.contenedor_destaca img {
  width: 70%;
  height: 90%;
  transition: height width 2s;
}

.contenedor_destaca img:hover {
  height: 100%;
  width: 100%;
}

.contenedor_destaca h2 {
  text-align: center;
  color: #454b6b;
}

.contenedor_destaca p {
  text-align: center;
  color: rgb(68, 68, 87);
}

/*distribucion de la pag dentro de seccion--movible--*/
.lo_que_nos_destaca {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*medida queries-lo que nos destaca--desktop-- */
@media screen and (min-width: 1200px) {
  .lo_que_nos_destaca {
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  .contenedor_destaca {
    height: 60rem;
    width: 28%;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
  }
  .contenedor_destaca h2 {
    font-size: 2rem;
    padding: 10px;
  }
  .contenedor_destaca p {
    font-size: 30px;
    padding: 10px;
    height: 60vh;
  }
  .contenedor_destaca img {
    width: 70%;
    height: 80%;
  }
}
.contenedor_especialidades {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(175, 181, 199);
  width: 90 vh;
  height: auto;
  margin: 7px;
  border-radius: 10%;
}

.contenedor_especialidades img {
  width: 70%;
  height: 90%;
}

.contenedor_especialidades p {
  text-align: center;
  color: rgb(68, 68, 87);
  font-size: 1rem;
  transition: font-size 2s;
}

.contenedor_especialidades p:hover {
  font-size: 2rem;
}

/*distribucuion dentro del padre--movible--*/
.nuestras_especialidades {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*medida querie nuestras especialidaes--desktop--*/
@media screen and (min-width: 1200px) {
  .nuestras_especialidades {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
  }
  .contenedor_especialidades {
    height: auto;
    width: 27%;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  .contenedor_especialidades p {
    font-size: 25px;
    padding: 10px;
  }
}
/*NUESTRAS INSTALACIONES*/
.container__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.subtitulo_instalaciones {
  text-align: center;
  font-size: 2rem;
  padding: 7px;
  color: #454b6b;
  width: 80%;
}

.texto__instalaciones {
  text-align: center;
  padding: 1rem;
  color: rgb(68, 68, 87);
}

/* medida querie nuestras instalaciones--desktop--*/
@media screen and (min-width: 768px) {
  .container__cards {
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  .element.style {
    width: 18rem;
    height: 40rem;
  }
  .texto__instalaciones {
    font-size: 22px;
  }
}
.direccion {
  padding: 10px;
}

.seccion_formulario {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario {
  width: fit-content;
  text-align: center;
}

.texto_contactanos {
  padding: 2rem;
  color: #454b6b;
}

/*medida querie contacto*/
@media screen and (min-width: 1200px) {
  .contenedor_contacto {
    display: flex;
    flex-direction: row;
  }
  .texto_contactanos {
    font-size: 20px;
    padding: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
