.contenedor_especialidades {
    @include contenedor_flex_card_movible
}

.contenedor_especialidades img {
    width: 70%;
    height: 90%;
}

.contenedor_especialidades p {
    text-align: center;
    color: map-get($paleta_de_colores, color-parrafo );
    font-size: 1rem;
    transition: font-size 2s;
}

.contenedor_especialidades p:hover {
    font-size: 2rem;
}

/*distribucuion dentro del padre--movible--*/

.nuestras_especialidades {
    @include contenedor_flex_padre_movible
}

/*medida querie nuestras especialidaes--desktop--*/

@media screen and (min-width: 1200px) {

    .nuestras_especialidades {
        @include contenedor_flex_padre_desktop;
        align-items: stretch;
    }

    .contenedor_especialidades {
        height: auto;
        width: 27%;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    .contenedor_especialidades p {
        font-size: 25px;
        padding: 10px;
    }

}