$color-titulo: rgb(47, 47, 99);
$color-subtitulo: #454b6b;
$color-parrafo: rgb(68, 68, 87); 
$bgc-card: rgb(175, 181, 199); 

$paleta_de_colores: (
    color-titulo: $color-titulo,
    color-subtitulo: $color-subtitulo,
    color-parrafo: $color-parrafo,
    bgc-card: $bgc-card,
);